body{
  display: flex;
  flex-direction: column;
}

.create{
  margin: 10px auto;
  input{
    border: solid 2px #666;

  }
  button{
    border: solid 2px #666;
  }
}

.todo-container{
  margin: 10px auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;

  .todolist{
    margin: 5px;
    position: relative;
    background-color: #666;
  }

  input[type=text]{
    width: 200px;
    padding: 5px 10px;
    margin: 5px;
    text-align: left;
  }

  .btn--update{
    position: absolute;
    right: -60px; 
    top: 10px;
  }

  .btn--delete{
    position: absolute;
    right: -60px; 
    top: 10px;
  }
}


